@import 'colors';

.btn {
  display: inline-block;
  border-radius: 4px;
  height: 32px;
  padding: 6px 16px;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  font: inherit;

  // Secondary traits
  font-weight: 400;
  border: 1px solid $color_stone_forty;
  background-color: white;
  color: $color_ink;

  &:hover:enabled {
    text-decoration: none;
    color: $color_blue_light;
    border: 1px solid $color_blue_light;
  }

  &:active:enabled {
    text-decoration: none;
    color: $color_blue_dark;
    border: 1px solid $color_blue_dark;
  }

  &.primary {
    font-weight: 500;
    border: none;
    color: white;
    background-color: $color_blue;

    &:hover:enabled {
      background-color: $color_blue_light;
    }

    &:active:enabled {
      background-color: $color_blue_dark;
    }
  }

  &.disabled, &:disabled {
    opacity: 0.4;
  }

  &.large {
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &.wide {
    min-width: 220px;
  }
}
