// Colors based off Dropbox Maestro's Component Library

$color_blue: #0070E0;
$color_blue_light: #007AF5;
$color_blue_dark: #005DD6;
$color_blue_forty: #99C6F3;
$color_blue_sixteen: #D6E8FA;
$color_blue_eight: #EBF4FD;

$color_ink: #1B2733;

$color_stone: #637282;
$color_stone_light: #6A7C8F;
$color_stone_dark: #536170;
$color_stone_forty: #C1C7CD;
$color_stone_sixteen: #E6E8EB;

$color_chalk: #F7F9FA;

$color_cherry: #D62C0B;
$color_kiwi: #0D8424;

.chalk {
  background-color: $color_chalk;
}
